/**
 * @file
 * Global styles.
 */

/**
 * Bootstrap overrides.
 */
body a:hover,
body a:focus {
  color: var(--bs-secondary);
}

body .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-white);
}

.badge {
  text-decoration: none;
}

/**
 * Spruce up the blockquote element inside of nodes.
 */
.node__content blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/**
 * Override iframe embeds.
 */
iframe {
  width: 100%;
}

/**
 * Shrink footer on mobile.
 */
footer img {
  max-height: 40px;
}

footer p {
  color: var(--bs-secondary);
}

footer .list-unstyled li {
  border-bottom: 1px solid var(--bs-secondary);
  padding: 5px;
}

footer i {
  font-size: 2.3rem;
}

footer h5 {
  text-transform: uppercase;
}

/**
 * Override the default Bootstrap container width and padding.
 */
body .container-fluid {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}

body .container-fluid .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.img-fluid {
  width: 100%;
}