{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ site_logo }}" alt="{{ site_name }}" class="d-inline-block" style="margin-right: 4px;">
      {{ site_name }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      {% import _self as menus %}

      {#
      We call a macro which calls itself to render the full tree.
      @see http://twig.sensiolabs.org/doc/tags/macro.html
      #}
      {{ menus.build_menu(items, attributes, 0) }}

      {% macro build_menu(items, attributes, menu_level) %}
        {% import _self as menus %}
        {% if items %}
          {% if menu_level == 0 %}
          <ul{{ attributes.addClass('navbar-nav mr-auto gap-3') }}>
          {% else %}
          <ul class="dropdown-menu">
          {% endif %}
          {% for item in items %}
            {{ menus.add_link(item, attributes, menu_level) }}
          {% endfor %}
          </ul>
        {% endif %}
      {% endmacro %}

      {% macro add_link(item, attributes, menu_level) %}
        {% import _self as menus %}
        {%
          set list_item_classes = [
          'nav-item',
          item.is_expanded ? 'dropdown'
        ]
        %}
        {%
          set link_class = [
            menu_level == 0 ? 'nav-item',
            menu_level == 0 ? 'nav-link text-white',
            item.in_active_trail ? 'active',
            menu_level == 0 and (item.is_expanded or item.is_collapsed) ? 'dropdown-toggle',
            menu_level > 0 ? 'dropdown-item',
          ]
        %}
        {%
          set toggle_class = [
        ]
        %}
        <li{{ item.attributes.addClass(list_item_classes) }}>
          {% if menu_level == 0 and item.below %}
            {{ link(item.title, item.url, { 'class': link_class, 'role': 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'title': ('Expand menu' | t) ~ ' ' ~ item.title }) }}
            {{ menus.build_menu(item.below, attributes, menu_level + 1) }}
          {% else %}
            {{ link(item.title, item.url, { 'class': link_class }) }}
          {% endif %}
        </li>
      {% endmacro %}
    </div>
  </div>
</nav>
