{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('openchurch_theme/hero') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'hero',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class="mb-5 text-center">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="card bg-dark text-white">
      {{ content.field_image }}
      {% if content.field_video %}
        {{ content.field_video }}
      {% endif %}
      <div class="card-img-overlay pt-5 pb-5">
        <div class="container-fluid">
          <div class="col-lg-6 mt-5 pt-5">
            <h2{{ title_attributes.addClass('display-4 mb-3') }}>{{ content.field_title }}</h2>
            <div class="fs-4 mb-4">
              {{ content.body }}
            </div>
            {% if content.field_link[0]['#url'] %}
              <a href="{{ content.field_link[0]['#url'].toString() }}" class="btn btn-primary" role="button">{{ content.field_link[0]['#title'] }} <i class="bi bi-arrow-right"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
