{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'container-fluid',
    'mt-5',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class="mb-5 text-center">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="row">
      {% if content.field_image|render %}
        <div class="col-md mb-4">
          <div class="card rounded h-100">
            {{ content.field_image }}
            <div class="card-body">
              <h5{{ title_attributes.addClass('card-title text-uppercase') }}>{{ content.field_title }}</h5>
              <p class="card-text">{{ content.field_summary }}</p>
            </div>
            <div class="card-footer bg-white border-0 mb-2">
              <a href="{{ content.field_link[0]['#url'].toString() }}" class="btn btn-primary" role="button">{{ 'View Details'|t }} <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if content.field_image2|render %}
        <div class="col-md mb-4">
          <div class="card rounded h-100">
            {{ content.field_image2 }}
            <div class="card-body">
              <h5{{ title_attributes.addClass('card-title text-uppercase') }}>{{ content.field_title2 }}</h5>
              <p class="card-text">{{ content.field_summary2 }}</p>
            </div>
            <div class="card-footer bg-white border-0 mb-2">
              <a href="{{ content.field_link2[0]['#url'].toString() }}" class="btn btn-primary" role="button">{{ 'View Details'|t }} <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      {% endif %}
      {% if content.field_image3|render %}
        <div class="col-md mb-4">
          <div class="card rounded h-100">
            {{ content.field_image3 }}
            <div class="card-body">
              <h5{{ title_attributes.addClass('card-title text-uppercase') }}>{{ content.field_title3 }}</h5>
              <p class="card-text">{{ content.field_summary3 }}</p>
            </div>
            <div class="card-footer bg-white border-0 mb-2">
              <a href="{{ content.field_link3[0]['#url'].toString() }}" class="btn btn-primary" role="button">{{ 'View Details'|t }} <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endblock %}
</div>
